<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/material.min.css' />
    <link rel='stylesheet' href='/stylesheets/sketch.css' />
  </head>
  <body>
    <div id="mainCanvasWrapper"></div>
    <script defer src="//code.getmdl.io/1.1.1/material.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/libraries/p5.min.js"></script>
    <script src="/javascripts/libraries/p5.dom.min.js"></script>
    <script src="/javascripts/sketch.js"></script>
  </body>
</html>
