body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 1; }

div, p {
  margin: 0;
  padding: 0;
  font-size: 14px; }

#panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
  height: 100%;
  background: #666666; }

#panelInnerBox {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 10px; }
  #panelInnerBox input, #panelInnerBox select, #panelInnerBox button {
    margin-bottom: 20px; }
  #panelInnerBox p {
    margin-bottom: 10px;
    color: #ddd;
    letter-spacing: 0.05em; }
  #panelInnerBox #chatNum {
    margin-bottom: 20px; }
  #panelInnerBox #clearBtn {
    width: 10em; }
  #panelInnerBox #sliderAlpha {
    width: 100px; }
  #panelInnerBox #sliderBorderW {
    width: 100px; }
  #panelInnerBox #colorPicker__selectSatBri {
    margin-bottom: 5px;
    line-height: 0; }
  #panelInnerBox #colorPicker__selectHue {
    line-height: 0; }
